.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}
#content {
    background-color: #ffff;
    padding-right: 100px;
    padding-left: 100px;
}
#pic_container {
    padding-top: 100px;
}
